Задание 1 Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data_2 = pd.read_csv('movies.csv')
# data_3 = pd.read_csv('tags.csv')
# data_4 = pd.read_csv('links.csv')

In [3]:
x = data[data['rating'].isin(['5.0'])]
# x.sort_values(by=['movieId'],ascending=[True]).head(10)
x

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [8]:
a = (x['movieId'].value_counts().head(1))
a

318    153
Name: movieId, dtype: int64

In [221]:
y = data_2[data_2['movieId'].isin([list(dict(a).keys())[0]])]

In [424]:
print(y)

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [361]:
power = pd.read_csv('power.csv')

In [362]:
# power

In [363]:
filtered_power = power[ ((power['country']=='Lithuania') | (power['country']=='Estonia') | (power['country']=='Latvia')) & ((power['category']==4) | (power['category']==12) | (power['category']==21)) & ((2005<=power['year']) & (power['year']<=2010)) ]

In [364]:
# filtered_power

In [365]:
# filtered_power.country.unique()

In [366]:
# filtered_power.category.unique()

In [367]:
# filtered_power.year.unique()

In [368]:
# print(list(filtered_power.quantity))

In [369]:
sum(filtered_power.query('quantity>0')['quantity'])

240580.0

In [360]:
# sum(filtered_power['quantity'])

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [433]:
url_1 = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
url_2 = 'https://fortrader.org/quotes'

In [434]:
df_1 = pd.read_html(url_1, encoding='utf-8')

In [412]:
df_1[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 709,"-0,3%",Nasdaq,9 325,"0,4%",Биткойн,8 765,"0,1%",USD/RUB,713530,"-0,2%"
1,РТС,1 188,"-1,5%",S&P500,2 955,"0,2%",Нефть,352,"0,3%",EUR/RUB,780550,"0,0%"
2,Dow,24 465,"0,0%",FTSE100,5 993,"-0,4%",Золото,1 728,"-0,5%",EUR/USD,10890,"-0,1%"

In [413]:
df_1[1].head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,872794,-,870551,"0,26 %",02244,00:10:00
1,NaN,EUR/RUB,780546,-,780475,"0,01 %",00071,00:09:00
2,NaN,USD/RUB,716420,-,715260,"0,16 %",01160,00:09:00
3,NaN,JPY/RUB,06649,-,06646,"0,04 %",00003,00:10:00
4,NaN,CNY/RUB,100357,-,100313,"0,04 %",00044,00:09:00

In [414]:
df_2 = pd.read_html(url_2, encoding='utf-8')

In [415]:
df_2[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,80.0977,2.5486,3.2864,NaN
1,USDRUB Курс рубля к доллару,73.4195,2.3447,3.2989,NaN

In [416]:
df_2[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,35.470,+0.78,+2.25,NaN
1,Нефть (WTI) Цены на нефть (WTI),33.720,+0.83,+2.52,NaN
2,Сахар котировки на сахар,12.630,нет данных,нет данных,NaN
3,Газ Цена на газ,1.707,-0.008,-0.466,NaN

In [417]:
df_2[2]

                      Название      Цена   Изменение Изменение(%)  Обновлено
0      Серебро Цена на серебро    17.079  нет данных   нет данных        NaN
1    Палладий Цена на Палладий  1995.000  нет данных   нет данных        NaN
2  Золото Цена золота на бирже  1725.000        -5.6         -0.3        NaN
3      Платина Цены на платину   892.600  нет данных   нет данных        NaN
4      Медь Цена меди на бирже     2.405     +0.0080      +0.3338        NaN

In [418]:
df_2[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.03504,0.000315,0.907127,NaN
1,Газпром Акции газпрома,197.40000,2.500000,1.280000,NaN
2,Лукойл Акции Лукойл,5412.50000,84.000000,1.600000,NaN
3,Роснефть Акции Роснефти,373.75000,8.250000,2.260000,NaN
4,Сбербанк Акции Сбербанка,191.03000,2.030000,1.070000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,41.80500,1.980000,4.972000,NaN
6,Норникель Акции Норникель,22356.00000,296.000000,1.000000,NaN
7,Аэрофлот Акции Аерофлота,73.56000,0.660000,0.910000,NaN
8,Северсталь Акции Северсталь,908.60000,37.800000,4.340000,NaN
9,Транснефть Акции Транснефть,131050.00000,-500.000000,-0.000000,NaN
10,Ростелеком Курс акций ростелекома,82.18000,0.560000,0.690000,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),26.73000,0.530000,2.023000,NaN
12,НМЛК Акции НЛМК (NLMK),132.18000,4.200000,3.282000,NaN
13,Алроса Акции АЛРОСА (ALRS),64.07000,0.200000,0.313000,NaN
14,Магнит Акции Магнит (MGNT),3635.00000,17.000000,0.500000,NaN
15,М.видео Акции М.видео (MVID),348.40000,5.000000,1.460000,NaN
16,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",332.85000,5.400000,1.650000,NaN
17,НМТП Акции НМТП (NMTP),9.16000,0.180000,2.004500,NaN
18,Полиметалл Акции Полиметалл (POLY),1415.10000,-65.400000,-4.420000,NaN
19,Полюс Золото Акции Полюс Золото (PLZL),11975.00000,160.500000,1.400000,NaN
20,НОВАТЭК Акции НОВАТЭК (NVTK),1097.00000,17.800000,1.650000,NaN
21,РусГидро Акции РусГидро (HYDR),0.67050,0.013300,2.023700,NaN
22,Татнефть Акции Татнефть (TATN),554.50000,7.400000,1.350000,NaN
23,"АФК Система Акции АФК ""Система"" (AFKS)",14.83000,0.342000,2.361000,NaN
24,МТС Акции МТС,332.05000,5.250000,1.610000,NaN
25,Башнефть Акции Башнефть (BANE),1804.00000,23.000000,1.300000,NaN
26,Яндекс Акции Яндекс (YNDX),2960.60000,55.600000,1.900000,NaN
27,X5 Retail Group Акции X5 Retail Group (FIVE),2169.50000,-23.000000,-1.050000,NaN
28,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.19892,0.003240,1.655760,NaN
29,Мечел Акции Мечел (MTLR),64.50000,-0.100000,-0.200000,NaN
30,МосБиржа Акции МосБиржа (MOEX),115.52000,0.960000,0.840000,NaN

In [419]:
df_2[4]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Макдональдс Акции Макдональдс,184.18,-0.23,-0.12,NaN
1,Microsoft Microsoft Corp.,183.26,-0.25,-0.14,NaN
2,APPLE Акции APPLE,318.22,-0.67,-0.21,NaN
3,Yandex Акции яндекса,40.27,+0.01,+0.02,NaN
4,Toyota Акции Тойоты,120.94,нет данных,нет данных,NaN
5,Volkswagen Курс акций Volkswagen,133.72,+1.00,+0.75,NaN
6,"Amazon.com, Inc. Amazon.com, Inc.",2431.12,+79.86,+3.40,NaN
7,Boeing Company (The) Common Sto Boeing Company...,137.21,-0.32,-0.23,NaN
8,Coca-Cola Company (The) Common Coca-Cola Compa...,45.00,-0.03,-0.07,NaN
9,Netflix Акции Netflix (NFLX),428.60,-0.72,-0.17,NaN
10,Walt Disney Акции Walt Disney (DIS),117.82,-0.20,-0.17,NaN
11,Facebook Цена акций Facebook,234.80,-0.11,-0.05,NaN
12,Tesla Цены на акции Тесла,816.41,-0.47,-0.06,NaN
13,Twiter Цена акций твитера,32.59,-0.03,-0.09,NaN
14,"Hasbro Цена на акции Hasbro, Inc.",66.50,нет данных,нет данных,NaN
15,Сименс,95.84,+1.95,+2.08,NaN

In [420]:
df_2[5]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURUSD Курс евро к доллару,1.08957,-0.00121,-0.11093,NaN
1,AUDUSD Курс австралийского доллара к доллару сша,0.65444,-0.00007,-0.01070,NaN
2,AUDCAD Australian Dollar / Canadian Dollar,0.91454,-0.00085,-0.09286,NaN
3,EURCHF Euro / Swiss Franc,1.05851,-0.00086,-0.08118,NaN
4,EURGBP Euro / Great Britain Pound,0.89318,-0.00187,-0.20893,NaN
5,EURJPY Euro / Japanese Yen,117.36000,-0.16800,-0.14300,NaN
6,GBPJPY Great Britain Pound / Japanese Yen,131.35800,0.06100,0.04600,NaN
7,GBPUSD Курс фунта к доллару,1.21912,0.00056,0.04596,NaN
8,USDCAD Курс канадского доллара к доллару сша,1.39795,-0.00058,-0.04147,NaN
9,NZDUSD New Zealand Dollar / US Dollar,0.61023,-0.00009,-0.01475,NaN
10,USDCHF US Dollar / Swiss Franc,0.97186,0.00066,0.06796,NaN
11,USDCNH Курс китайского юаня к доллару США,7.14655,0.00295,0.04130,NaN
12,USDJPY Курс йены к доллару,107.70500,-0.04200,-0.03900,NaN

In [421]:
df_2[6]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Bitcoin Курс биткоина,8889.720000,188.230000,2.16000,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),42.960000,0.920000,2.19000,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,230.120000,8.770000,3.96200,NaN
3,Dash Dash,73.217000,1.536000,2.14300,NaN
4,Ripple Ripple,0.195170,0.002890,1.50302,NaN
5,Ethereum Ethereum,204.598000,6.398000,3.22800,NaN
6,Zcash (ZEC),45.646000,0.646000,1.43600,NaN
7,NEO (NEO),9.940000,0.280000,2.90000,NaN
8,EOS (EOS),2.524200,0.036500,1.46720,NaN
9,TRON (TRX),0.014586,0.000386,2.71831,NaN
10,Monero,61.652000,1.026000,1.69200,NaN
11,IOTA,0.196550,0.005450,2.85191,NaN
12,"ETC/USD эфириум классик, ETC",6.825100,0.267200,4.07450,NaN

In [422]:
df_2[7]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Фьючерс РТС Курс фьючерса на индекс РТС,118130.00,+116 942,+9 840,NaN
1,РТС Курс индекса РТС,1213.41,+24.94,+2.10,NaN
2,DAX30,11391.30,+317.40,+2.87,NaN
3,Индекс Dow 30 (DJI),24703.00,нет данных,нет данных,NaN
4,FTSE,7137.70,нет данных,нет данных,NaN
5,CAC 40,4532.50,+43.3,+1.0,NaN
6,Nasdaq 100,9529.75,нет данных,нет данных,NaN
7,Russell 2000,1379.50,+24.0,+1.8,NaN
8,S&P 500,2989.00,+2 910.54,+3 709.58,NaN
9,IBEX 35,6843.40,нет данных,нет данных,NaN
10,Nikkei 225,20980.00,нет данных,нет данных,NaN
11,Euro Stoxx 50,2962.90,+42.2,+1.4,NaN
12,S&P/ASX 200,5673.20,нет данных,нет данных,NaN
13,MIB,17555.00,нет данных,нет данных,NaN

In [2]:
url_3 = 'https://www.worldometers.info/coronavirus/#countries'

In [5]:
df_3 = pd.read_html(url_3, encoding='utf-8')

HTTPError: HTTP Error 403: Forbidden